@import "null.css";
@import "fonts.css";

body {
    font-family: "CircularStd";
    color: #1e212c;
    width: 1440px;
}

.wrapper {
    max-width: 1025px;
    margin: 0 auto;
    padding: 140px 0;
}

header {
    margin-bottom: 67px;
}
.header h1 {
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 82px;
    color: #313131;
}

.header h2 {
    max-width: 750px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    line-height: 25px;
    color: #5f5f5f;
}

.main_content {
}
.image {
    max-width: 468px;
    float: right;
}
.main__text {
    display: inline;
}
.title {
    opacity: 0.88;
    font-style: bold;
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 20px;
    color: #313131;
}
.text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #5f5f5f;
    margin-bottom: 125px;
}
.name {
    margin-bottom: 5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    color: #313131;
}
.proffesion {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #b8b8b8;
}
.footer {
}
